capstone_project - PYTHON
By- [SUMIT YADAV]

In [ ]:
Performed 10 Task

In [2]:
import pandas as pd
import numpy as np

Task-1. Create and Save Employee, Project and Seniority DataFrame

In [ ]:
employee_data = {
    'ID' : ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Medrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('employee.csv', index=False)

In [8]:
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('project.csv', index=False)

In [9]:
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('seniority.csv', index=False)

Task-2. Fill Missing values in 'Cost' using Running Average

In [13]:
import pandas as pd
import numpy as np

project_df = pd.read_csv('project.csv')
costs = project_df['Cost'].tolist()
valid_costs = []
for i in range(len(costs)):
    if pd.isna(costs[i]):
        if valid_costs:
            avg = sum(valid_costs) / len(valid_costs)
            costs[i] = avg
        else:
            costs[i] = 0
        else
        valid_costs.append(costs[i])
    project_df['Cost'] = costs
project_df.to_csv('Project_Filled.csv', index=False)
print(project_df)

      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished
      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A004  Project 13  3.000000e+06  Finished
13  A005  Project 14  2.000000e+05  Finished

Task-3. Split the 'Name' Column into 'First Name' and 'Last Name'

In [19]:
import pandas as pd

employee_df = pd.read_csv('Employee.csv')
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)
employee_df.drop(columns=['Name'], inplace=True)
employee_df.to_csv('Employee_Updated.csv', index=False)
print(employee_df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Medrid   30        Amy      Johny

Task-4. Join Employee,Project and Seniority DataFrame into One Final DataFrame

In [20]:
import pandas as pd

employee_df = pd.read_csv('Employee_updated.csv')
seniority_df = pd.read_csv('Seniority.csv')  
project_df = pd.read_csv('Project_Filled.csv') 
emp_seniority_df = pd.merge(employee_df, seniority_df, on='ID', how='inner')
final_df = pd.merge(emp_seniority_df, project_df, on='ID', how='inner')
final_df.to_csv('Final.csv', index=False)
print(final_df.head(10))

     ID Gender     City  Age First Name  Last Name  Designation Level  \
0  A001      M    Paris   25       John      Alter                  2
1  A001      M    Paris   25       John      Alter                  2
2  A001      M    Paris   25       John      Alter                  2
3  A002      F   London   27      Alice  Luxumberg                  2
4  A002      F   London   27      Alice  Luxumberg                  2
5  A003      M   Berlin   29        Tom  Sabestine                  3
6  A003      M   Berlin   29        Tom  Sabestine                  3
7  A003      M   Berlin   29        Tom  Sabestine                  3
8  A004      F  Newyork   31       Nina      Adgra                  2
9  A004      F  Newyork   31       Nina      Adgra                  2

      Project          Cost    Status
0   Project 1  1.002000e+06  Finished
1   Project 9  2.061714e+06   Ongoing
2  Project 11  2.000000e+06    Failed
3   Project 2  2.000000e+06   Ongoing
4   Project 6  6.800000e+05    Failed
5   Project 3  4.500000e+06  Finished
6   Project 8  3.500000e+05    Failed
7  Project 10  3.000000e+05  Finished
8   Project 4  5.500000e+06   Ongoing
9  Project 12  1.000000e+06   Ongoing

Task-5. Add 5% Bonus for Projects with Status 'Finished'

In [21]:
import pandas as pd

final_df = pd.read_csv('Final.csv')
final_df['Bonus'] = final_df.apply(
    lambda row: 0.05 * row['Cost'] if row['Status'].lower() == 'finished' else 0, axis=1
)
final_df.to_csv('Final_with_Bonus.csv', index=False)
print(final_df[['ID', 'Project', 'Cost', 'Status', 'Bonus']].head(10))

     ID     Project          Cost    Status     Bonus
0  A001   Project 1  1.002000e+06  Finished   50100.0
1  A001   Project 9  2.061714e+06   Ongoing       0.0
2  A001  Project 11  2.000000e+06    Failed       0.0
3  A002   Project 2  2.000000e+06   Ongoing       0.0
4  A002   Project 6  6.800000e+05    Failed       0.0
5  A003   Project 3  4.500000e+06  Finished  225000.0
6  A003   Project 8  3.500000e+05    Failed       0.0
7  A003  Project 10  3.000000e+05  Finished   15000.0
8  A004   Project 4  5.500000e+06   Ongoing       0.0
9  A004  Project 12  1.000000e+06   Ongoing       0.0

Task-6. Demote Designation for 'Failed' Projects

In [22]:
import pandas as pd

final_df = pd.read_csv('Final_with_Bonus.csv')
failed_counts = final_df[final_df['Status'].str.lower() == 'failed'].groupby('ID').size()
latest_designation = final_df[['ID', 'Designation Level']].drop_duplicates()
latest_designation['Designation Level'] = latest_designation.apply(
    lambda row: row['Designation Level'] - failed_counts.get(row['ID'], 0),
    axis=1
)
latest_designation = latest_designation[latest_designation['Designation Level'] <= 4]
final_df = final_df.drop('Designation Level', axis=1) 
final_df = final_df.merge(latest_designation, on='ID', how='inner') 
final_df.to_csv('Final_Task6.csv', index=False)
print(final_df[['ID', 'First Name', 'Designation Level', 'Status']].head(10))

     ID First Name  Designation Level    Status
0  A001       John                  1  Finished
1  A001       John                  1   Ongoing
2  A001       John                  1    Failed
3  A002      Alice                  1   Ongoing
4  A002      Alice                  1    Failed
5  A003        Tom                  2  Finished
6  A003        Tom                  2    Failed
7  A003        Tom                  2  Finished
8  A004       Nina                  2   Ongoing
9  A004       Nina                  2   Ongoing

Task-7. Add 'Mr.' and 'Mrs.' as Prefix to First Name and Drop Gender Column

In [24]:
import pandas as pd
final_df = pd.read_csv('Final_Task6.csv')
final_df['First Name'] = final_df.apply(
    lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'],
    axis=1
)
final_df.drop(columns=['Gender'], inplace=True)
final_df.to_csv('Final_Task7.csv', index=False)
print(final_df[['ID', 'First Name', 'Last Name']].head(10))

     ID  First Name  Last Name
0  A001    Mr. John      Alter
1  A001    Mr. John      Alter
2  A001    Mr. John      Alter
3  A002  Mrs. Alice  Luxumberg
4  A002  Mrs. Alice  Luxumberg
5  A003     Mr. Tom  Sabestine
6  A003     Mr. Tom  Sabestine
7  A003     Mr. Tom  Sabestine
8  A004   Mrs. Nina      Adgra
9  A004   Mrs. Nina      Adgra

Task-8. Promote Designation by 1 if Age is Greater than 29

In [25]:
import pandas as pd

final_df = pd.read_csv('Final_Task7.csv')
final_df['Designation Level'] = final_df.apply(
    lambda row: row['Designation Level'] + 1 if row['Age'] > 29 else row['Designation Level'],
    axis=1
)
final_df.to_csv('Final_Task8.csv', index=False)
print(final_df[['ID', 'Age', 'Designation Level']].drop_duplicates().head(10))

      ID  Age  Designation Level
0   A001   25                  1
3   A002   27                  1
5   A003   29                  2
8   A004   31                  3
11  A005   30                  4

Task-9. Calculate Total Project Cost

In [26]:
import pandas as pd

final_df = pd.read_csv('Final_Task8.csv')
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()
total_proj_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)
total_proj_cost.to_csv('TotalProjCost.csv', index=False)
print(total_proj_cost.head())

     ID  First Name    Total Cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

Display Employees whoose City name contains the letter 'o'

In [27]:
import pandas as pd

final_df = pd.read_csv('Final_Task8.csv')
filtered_df = final_df[final_df['City'].str.contains('o', case=False)]
print(filtered_df)
filtered_df.to_csv('Employee_City_contains_o.csv', index=False)

      ID     City  Age  First Name  Last Name     Project       Cost  \
3   A002   London   27  Mrs. Alice  Luxumberg   Project 2  2000000.0
4   A002   London   27  Mrs. Alice  Luxumberg   Project 6   680000.0
8   A004  Newyork   31   Mrs. Nina      Adgra   Project 4  5500000.0
9   A004  Newyork   31   Mrs. Nina      Adgra  Project 12  1000000.0
10  A004  Newyork   31   Mrs. Nina      Adgra  Project 13  3000000.0

      Status     Bonus  Designation Level
3    Ongoing       0.0                  1
4     Failed       0.0                  1
8    Ongoing       0.0                  3
9    Ongoing       0.0                  3
10  Finished  150000.0                  3